/* media center */

.secondary-wrapper {
	.news-title {
		font-size: 28px;
		font-family: "Roboto Condensed", sans-serif;
		font-weight: 700;
		color: $text-blue;
	}
	ul.news-list {
		list-style: none;
		font-family: "Roboto", sans-serif;
		li {
			margin-bottom: 25px;
			&:before {
				color: $text-blue;
				content: "\f09e";
				font-family: fontawesome;
				position: relative;
				float: left;
				margin-left: -39px;
				top: 0;
				font-size: 22px;
			}
			.Date {
				color: #6d6e71;
				font-size: 12px;
				line-height: 1.5;
			}
			.Title {
				font-size: 20px;
				font-weight: 500;
				color: $dark-grey;
			}
			.Description {
				font-size: 16px;
				font-weight: normal;
				color: #6d6e71;
			}
			a.Link {
				font-size: 12px;
				line-height: 2;
				font-weight: normal;
				font-style: italic;
				color: $text-blue;
				&:hover {
					text-decoration: none;
					color: $dark-grey;
				}
			}
		}
	}
	.show-more, .show-less {
		font-family: Helvetica, Arial, sans-serif;
		font-size: 10px;
		font-weight: bold;
		text-transform: uppercase;
		color: $purple-blue;
		padding: 10px 25px;
		border: 1px solid $purple-blue;
		cursor: pointer;
		float: left;
		margin-right: 25px;
		&:hover {
			color: #474e5e;
			border: 1px solid #474e5e;
		}
	}
}